/******************
FONT
YOU MUST HAVE THE .EOT, .WOFF, .TTF AND .SVG FILES LINKED EITHER REMOTELY OR LOCALLY
DO NOT REMOVE THE ?#iefix OR THE #webfont SUFFIX
******************/
@font-face {
  font-family: 'Stag';
  src: url('../font/Stag-Medium.eot');
  src: url('../font/Stag-Medium.eot?#iefix') format('eot'), url('../font/Stag-Medium.woff') format('woff'), url('../font/Stag-Medium.ttf') format('truetype'), url('../font/Stag-Medium.svg#webfont') format('svg');
  font-weight: 400;
  font-style: normal;
}
/***********************	
PAGE BACKGROUND COLOR
***********************/
/*********************
MAIN FONT
*********************/
/*****************************************************************
SECONDARY FONT COLOR 
THIS IS THE ONE WE'VE USED TO DISPLAY ON BUTTONS/COLORED OBJECTS
*****************************************************************/
/*******************
HEADING / TITLE FONT
IF IT'S A CUSTOM FONT THE @font-face FILE LINKS AT THE TOP OF THIS FILE SHOULD ALSO BE EDITED
********************/
/*********************
HEADER / NAVBAR
**********************/
/************************
MENU DROPDOWN TRIANGLE
************************/
/**********************
NAV TABS
**********************/
/*******************
FOOTER
*******************/
/*******************************************
CURSOR DISPLAYED ON A DISABLED LINK/BUTTON
********************************************/
/************************
HOW A LINK IS DISPLAYED
************************/
/****************
DROPDOWN MENU
*****************/
/******** PUT IN DROPDOWN-TEXT *********/
/**********************
DISABLED DROPDOWN MENU
***********************/
/********** PUT IN @DISABLED-DROPDOWN-TEXT **********/
/*******************
LEGEND
********************/
/*******************
COLORED AREA BACKGROUNDS
********************/
/*********************
BUTTON
**********************/
/*************************
DISABLED AREA TEXT COLOR
*************************/
/************************
BUTTON HOVER BACKGROUND
************************/
/********************
LIST
*********************/
/*****************
BREADCRUMBS
******************/
/******************
TABLE
*******************/
/******************
FORM
*******************/
/*******************
WELL
********************/
/******************
PANELS
*******************/
/*********************
PAGE SELECTOR COLORS
**********************/
/**********************
PAGER
**********************/
/**********************
BADGE
**********************/
/**************************
HELP BLOCK
***************************/
/************************************************************************************
*************************************************************************************
UNLESS ADDING FULLY CUSTOM CSS, THERE SHOULD BE NO NEED TO EDIT ANYTHING BELOW HERE
*************************************************************************************
*************************************************************************************/
body {
  background-color: #f6f5f5;
  color: #0066a2;
  font-family: Verdana, Arial;
  padding: 0px 100px 0px 100px;
  display: block;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 21px;
  font-size: 22.5px;
  line-height: inherit;
  color: #0066a2;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-family: Stag;
}
a {
  color: #0066a2;
  text-decoration: none;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #0066a2 !important;
}
h1 {
  font-family: Stag;
}
h2 {
  font-family: Stag;
}
h3 {
  font-family: Stag;
}
h4 {
  font-family: Stag;
}
h5 {
  font-family: Stag;
}
/**********************
***********************
MISC
***********************
**********************/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #0066a2;
  border-radius: 10px;
}
/*******************
********************
TEXT
********************
*******************/
.text-primary,
.text-primary:hover {
  color: #0066a2;
}
.text-danger,
.text-danger:hover {
  color: #ff0000;
}
.text-warning,
.text-warning:hover {
  color: #ff683b;
}
.text-info,
.text-info:hover {
  color: #7a42b3;
}
.text-success,
.text-success:hover {
  color: #3fb618;
}
/*********************
**********************
BUTTONS
**********************
*********************/
.btn-default {
  background-color: transparent;
  border-color: transparent;
  color: #0066a2;
}
.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
  color: #0066a2;
}
.btn-default:focus,
.btn-default.focus {
  color: #0066a2;
  background-color: transparent;
  border-color: transparent;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #0066a2;
  background-color: transparent;
  border-color: transparent;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #0066a2;
  background-color: transparent;
  border-color: transparent;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #000000;
  color: #ffffff;
}
.btn-primary {
  background-color: #0066a2;
  border-color: #0066a2;
}
.btn-primary:hover {
  background-color: #004a75;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0066a2;
}
.btn-danger {
  background-color: #ff0000;
}
.btn-danger:hover {
  background-color: #cc0000;
}
.btn-warning {
  background-color: #ff683b;
}
.btn-warning:hover {
  background-color: #e65e35;
}
.btn-info {
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info:hover {
  background-color: #583081;
  border-color: #583081;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #583081;
  border-color: #583081;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}
.btn-link {
  color: #0066a2;
  font-weight: normal;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #0066a2;
  text-decoration: underline;
  background-color: transparent;
}
.navbar-default .btn-link {
  color: #0066a2;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #0066a2;
  text-decoration: underline;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 20px;
}
.btn-success {
  color: #ffffff;
  background-color: #3fb618;
  border-color: #3fb618;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #3fb618;
  border-color: #3fb618;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2f8912;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2f8912;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2f8912;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success .badge {
  color: #3fb618;
  background-color: #ffffff;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 18px 30px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
/************
menu triangles
***********/
.navbar-default .navbar-nav .open .dropdown-menu:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 40%;
  border: 10px solid;
  border-color: transparent transparent #0066a2 transparent;
}
/********************
*********************
NAVBAR
*********************
********************/
.navbar-default {
  display: block;
  background-color: #ffffff;
  color: #0066a2;
  border-style: solid;
  border-bottom-width: 6px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-color: #ffffff #ffffff #0066a2 #ffffff;
  box-shadow: 0px 2px 10px #000000;
  -webkit-box-shadow: 0px 2px 10px #000000;
  -moz-box-shadow: 0px 2px 10px #000000;
  height: 92px;
  right: 0px;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 4;
  margin-bottom: 112px;
}
.navbar-brand {
  float: left;
  background: url("../images/brand.png") no-repeat;
  color: transparent;
  width: 178px;
  margin: 15px 0px 0px 20px;
  height: 52px;
}
.navbar-default .navbar-text {
  color: #0066a2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
  padding-top: 5px;
}
.navbar-default .navbar-text {
  color: #0066a2;
  font: Stag;
}
.navbar-default .navbar-nav > li > a {
  color: #0066a2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0066a2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #0066a2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0066a2;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0066a2;
  background-color: #ffffff;
  text-decoration: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
  background-color: #0066a2;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #004a75;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #004a75;
}
/*************************
DROPDOWN MENU
*************************/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  text-align: left;
  background-color: #0066a2;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #0066a2;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #004a75;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #004a75;
}
/*****************
******************
PROGRESS BAR
******************
*****************/
.progress .progress-bar {
  font-size: 8px;
  line-height: 8px;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #0066a2;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar-danger {
  background-color: #ff0000;
}
.progress-bar-warning {
  background-color: #ff683b;
}
.progress-bar-info {
  background-color: #7a42b3;
}
/*************************
**************************
LIST GROUPS
**************************
*************************/
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #0066a2;
  font-family: Stag;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #0066a2;
  border-color: #0066a2;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  text-decoration: none;
  color: #0066a2;
  background-color: #f6f5f5;
}
a.list-group-item,
button.list-group-item {
  color: #0066a2;
}
.list-group-item-warning {
  color: #ffffff;
  background-color: #ff683b;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #ffffff;
  background-color: #e65e35;
}
.list-group-item-danger {
  color: #ffffff;
  background-color: #ff0000;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #ffffff;
  background-color: #cc0000;
}
.list-group-item-info {
  color: #ffffff;
  background-color: #7a42b3;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #ffffff;
  background-color: #583081;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #0066a2;
}
/********************
*********************
ALERTS
*********************
********************/
.alert-danger {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #ffffff;
}
.alert-warning {
  background-color: #ff683b;
  border-color: #ff683b;
  color: #ffffff;
}
.alert-info {
  background-color: #7a42b3;
  border-color: #7a42b3;
  color: #ffffff;
}
/*******************
********************
LABELS
********************
*******************/
.label-default {
  background-color: transparent;
  color: #0066a2;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #0066a2;
  color: #ffffff;
}
.label-primary {
  background-color: #0066a2;
}
.label-info {
  background-color: #7a42b3;
}
.label-warning {
  background-color: #ff683b;
}
.label-danger {
  background-color: #ff0000;
}
.label-success {
  background-color: #3fb618;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #2f8912;
}
/*********************
**********************
PILLS AND BADGES
**********************
*********************/
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0066a2;
  background-color: #0066a2;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0066a2;
}
/******************
*******************
TABS
*******************
******************/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: #0066a2;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
  color: #0066a2;
}
.nav-tabs > li > a:hover {
  border-color: #f6f5f5 #f6f5f5 #f6f5f5;
}
/********************
*********************
PAGINATION
*********************
********************/
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #0066a2;
  border-color: #dddddd;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 10px 18px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #0066a2;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
/**********************
***********************
BREADCRUMBS
***********************
**********************/
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 21px;
  list-style: none;
  background-color: #f6f5f5;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #0066a2;
}
.breadcrumb > .active {
  color: #808080;
}
/********************
*********************
Pager
*********************
********************/
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  color: #0066a2;
  border: 1px solid #dddddd;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #0066a2;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #ffffff;
  cursor: not-allowed;
}
/**********************
***********************
TABLES
***********************
**********************/
.table .table {
  background-color: #ffffff;
  color: #0066a2;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #7a42b3;
  color: #ffffff;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #583081;
  color: #ffffff;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #ff683b;
  color: #ffffff;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #e65e35;
  color: #ffffff;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #ff0000;
  color: #ffffff;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #cc0000;
  color: #ffffff;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #3fb618;
  color: #ffffff;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #2f8912;
  color: #ffffff;
}
/**************************
***************************
PANELS
***************************
**************************/
.panel-default > .panel-heading {
  color: #0066a2;
  background-color: #f6f5f5;
  border-color: #dddddd;
  font-family: Stag;
}
.panel-primary {
  border-color: #0066a2;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #0066a2;
  border-color: #0066a2;
  font-family: Stag;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #0066a2;
}
.panel-primary > .panel-heading .badge {
  color: #0066a2;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #0066a2;
}
.panel-danger {
  border-color: #ff0000;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
  font-family: Stag;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ff0000;
}
.panel-danger > .panel-heading .badge {
  color: #ff0000;
  background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ff0000;
}
.panel-warning {
  border-color: #ff683b;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #ff683b;
  border-color: #ff683b;
  font-family: Stag;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ff683b;
}
.panel-warning > .panel-heading .badge {
  color: #ff683b;
  background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ff683b;
}
.panel-info {
  border-color: #7a42b3;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #7a42b3;
  border-color: #7a42b3;
  font-family: Stag;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #7a42b3;
}
.panel-info > .panel-heading .badge {
  color: #7a42b3;
  background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #7a42b3;
}
.panel-success {
  border-color: #3fb618;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #3fb618;
  border-color: #3fb618;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3fb618;
}
.panel-success > .panel-heading .badge {
  color: #3fb618;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #3fb618;
}
/*********************
**********************
FORMS
**********************
*********************/
.form-control {
  display: block;
  width: 100%;
  height: 43px;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #0066a2;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.has-warning .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ff683b;
}
.has-error .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ff0000;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
  color: #ff683b;
}
.has-warning .form-control,
.has-warning .form-control:focus,
.has-warning .input-group-addon {
  border: 1px solid #ff683b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
  color: #ff0000;
}
.has-error .form-control,
.has-error .form-control:focus,
.has-error .input-group-addon {
  border: 1px solid #ff0000;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
  color: #3fb618;
}
.has-success .form-control,
.has-success .form-control:focus,
.has-success .input-group-addon {
  border: 1px solid #3fb618;
}
.input-sm {
  height: 31px;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
select.input-sm {
  height: 31px;
  line-height: 31px;
}
.input-lg {
  height: 64px;
  padding: 18px 30px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
select.input-lg {
  height: 64px;
  line-height: 64px;
}
/********************
********************
WELL
*********************
******************/
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-lg {
  padding: 24px;
  border-radius: 0;
}
.well-sm {
  padding: 9px;
  border-radius: 0;
}
/*******************
********************
LISTS
********************
*******************/
a.list-group-item-warning.active {
  background-color: #ff683b;
}
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  background-color: #e65e35;
}
a.list-group-item-danger.active {
  background-color: #ff0000;
}
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #cc0000;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0066a2;
  background-color: #ffffff;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #0066a2;
  border-color: #dddddd;
}
/**********************
footer
***********************/
.footer {
  display: block;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  border-top: 6px solid #0066a2;
  box-shadow: 0px 0px 10px 2px #000000;
  -webkit-box-shadow: 0px 0px 10px 2px #000000;
  -moz-box-shadow: 0px 0px 10px 2px #000000;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  z-index: 2000;
  margin-top: 110px;
}
.footer-text {
  margin: auto;
  margin-top: 20px;
}
/***********************
MISC
***********************/
.login-page {
  top: 92px;
  margin-top: 20px;
  height: 100%;
}
.navbar-space {
  height: 92px;
}
.footer-space {
  height: 80px;
}
