body {
	background-color: #f6f5f5;
}

/*********************
**********************
BUTTONS
**********************
*********************/

.btn-default {
	background-color: white;
	color: #0066a2;
}

.btn-default:hover{
	background-color: #0066a2;
	color: white;
}

.btn-primary {
	background-color: #0066a2;
}

.btn-primary:hover {
	background-color: #004A75
}

.btn-danger {
	background-color: #FF0000;
}

.btn-danger:hover {
	background-color: #CC0000;
}

.btn-warning {
	background-color: #ff683b;
}

.btn-warning:hover {
	background-color: #E65E35;
}
.btn-info {
	background-color: #7a42b3;
}

.btn-info:hover {
	background-color: #583081;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}

/********************
NAVBAR
********************/

.navbar-default {
	background-color: white;
	color: #0066a2;
	border-bottom: 5px solid #0066a2;
	height: 150px;
}

.navbar-default .navbar-brand {
	background: url("http://canopy-cloud.com/sites/all/themes/canopytheme/images/logo.png");
	color: transparent;
	width: 178px;
	height: 52px;
}

.navbar-default .navbar-text {
	color: #0066a2;
}

/*****************
******************
PROGRESS BAR
******************
*****************/

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #0066a2;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-bar-danger {
  background-color: #CC0000;
}

.progress-bar-info {
	background-color: #7a42b3;
}

/*************************
**************************
LIST GROUPS
**************************
*************************/

.list-group-item-warning {
	.color: white;
	.background-color: #ff683b;
}

a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #ffffff;
  background-color: #E65E35;
}

.list-group-item-danger {
  color: #ffffff;
  background-color: #ff0000;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #ffffff;
  background-color: #CC0000;
}

.list-group-item-info {
  color: #ffffff;
  background-color: #7a42b3;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #ffffff;
  background-color: #583081;
}

/********************
*********************
ALERTS
*********************
********************/

.alert-danger {
  background-color: #ff0000;
  border-color: #f0005e;
  color: #ffffff;
}

.alert-warning {
  background-color: #ff683b;
  border-color: #ff4309;
  color: #ffffff;
}

.alert-info {
  background-color: #7a42b3;
  border-color: #7643a8;
  color: #ffffff;
}

/*******************
********************
LABELS
********************
*******************/

.label-default {
  background-color: white;
  color: #0066a2;
}

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #0066a2;
  color: white;
}

.label-primary {
  background-color: #0066a2;
}

.label-info {
  background-color: #7a42b3;
}

.label-warning {
  background-color: #ff683b;
}

.label-danger {
  background-color: #ff0000;
}

/*********************
**********************
PILLS AND BADGES
**********************
*********************/

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0066a2;
  background-color: #ffffff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0066a2;
}

