.btn-default {
  background-color: #ffffff;
  border-color: #cccccc;
  border: 1px solid #cccccc !important;
  color: #0066a2;
}
.btn-default:hover {
  background-color: #ffffff;
  border-color: #cccccc;
  border: 1px solid #cccccc;
  color: #0066a2;
}
.btn-default:focus,
.btn-default.focus {
  color: #black;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #black;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #black;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #000000;
  color: #ffffff;
}
.btn-primary {
  background-color: #0066a2;
  border-color: #0066a2;
}
.btn-primary:hover {
  background-color: #0066a2;
  border-color: #0066a2;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0066a2;
}
.btn-danger {
  background-color: #ff0000;
}
.btn-danger:hover {
  background-color: #cc0000;
}
.btn-warning {
  background-color: #ff683b;
}
.btn-warning:hover {
  background-color: #e65e35;
}
.btn-info {
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info:hover {
  background-color: #583081;
  border-color: #583081;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
  background-color: #7a42b3;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #583081;
  border-color: #583081;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info:active {
  background-color: #7a42b3;
}
.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  color: #ffffff;
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn-info.focus,
.btn-info:focus {
  color: #ffffff;
  background-color: #7a42b3;
  border-color: #7a42b3;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-family: Stag;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}
.btn-link {
  color: #0066a2;
  font-weight: normal;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #0066a2;
  text-decoration: underline;
  background-color: transparent;
}
.navbar-default .btn-link {
  color: #0066a2;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: black;
  text-decoration: underline;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 20px;
}
.btn-success {
  color: #ffffff;
  background-color: #3fb618;
  border-color: #3fb618;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #3fb618;
  border-color: #3fb618;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2f8912;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2f8912;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #2f8912;
  border-color: #2f8912;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success .badge {
  color: #3fb618;
  background-color: #ffffff;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 18px 30px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
